/**** GENERALS ****/
.container {
    width: 70%;
    margin: 0 auto;
}

.w-50 {
    width: 50%;
}

/**** FLEX ****/
.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

/**** //FLEX ****/